In [ ]:
!pip install requests

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

In [2]:
## Set up splinter
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# Bring in the website to be scraped
# url = 'https://www.texas-demographics.com/counties_by_population'
url = 'http://www.texascounties.net/statistics/landarea.htm'
browser.visit(url)

In [7]:
table = pd.read_html(url)
# population_df = table[0]
area_df = table[0]

In [8]:
# population_df
area_df

,Rank,Name,Land Area (mi2),PopulationDensity (mi2),Total Area (mi2)
0,1,Brewster,6183.7,1.5,6192.3
1,2,Pecos,4763.9,3.3,4764.8
2,3,Hudspeth,4571.0,0.8,4571.8
3,4,Presidio,3855.2,2.0,3855.9
4,5,Culberson,3812.8,0.6,3813.0
...,...,...,...,...,...
250,251,Rains,229.5,47.6,258.8
251,252,Camp,195.8,63.3,203.2
252,253,Somervell,186.5,45.5,192.0
253,254,Rockwall,127.0,616.6,148.7
254,Total,Total,261231.9,NaN,268596.4

In [9]:
area_df.set_index("Rank", inplace=True)
area_df

            Name  Land Area (mi2)  PopulationDensity (mi2)  Total Area (mi2)
Rank
1       Brewster           6183.7                      1.5            6192.3
2          Pecos           4763.9                      3.3            4764.8
3       Hudspeth           4571.0                      0.8            4571.8
4       Presidio           3855.2                      2.0            3855.9
5      Culberson           3812.8                      0.6            3813.0
...          ...              ...                      ...               ...
251        Rains            229.5                     47.6             258.8
252         Camp            195.8                     63.3             203.2
253    Somervell            186.5                     45.5             192.0
254     Rockwall            127.0                    616.6             148.7
Total      Total         261231.9                      NaN          268596.4

[255 rows x 4 columns]

In [10]:
# clean_area_df = population_df.iloc[0:254]
clean_area_df = area_df.sort_values("County", ascending=True)
clean_area_df

KeyError: 'County'

In [ ]:
clean_pop_df.to_csv("output/population.csv", index = False)