In [1]:
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
from sqlalchemy import Column, Integer, String, Float

In [3]:
# Load in File from resources
file_path = 'output/population.csv'

# Read and display with pandas
df = pd.read_csv(file_path)
df.head()

            County  Population
0  Anderson County       57735
1   Andrews County       18705
2  Angelina County       86715
3   Aransas County       23510
4    Archer County        8553

In [4]:
engine = create_engine("sqlite:///Resources/texas_counties.sqlite")

In [ ]:
# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(engine, reflect=True)

In [6]:
# Create the County Class
# ----------------------------------
class County(Base):
    __tablename__ = 'counties'
    id = Column(Integer, primary_key=True)
    county = Column(String(255))
    population = Column(Integer)
    med_income = Column(Integer)
    unemploy_rate = Column(Float)
    crime_rate = Column(Float)

In [8]:
# Create Database Connection
conn = engine.connect()

In [9]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

In [10]:
# Create a Session Object to Connect to DB
session = Session(bind=engine)